<!DOCTYPE html>
<html class="no-js" lang="en">
{% include "head.liquid" %}
<body id="top" class="ss-preload">
    <div id="preloader">
        <div id="loader"></div>
    </div>

    {{ page.content }}

    {% include "footer.liquid" %}
</body>
</html>
